<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" th:href="@{/css/add.css}">
</head>
<body>
<div id="div_container">
    <div id="div_fruit_list">
        <p class="center f30">新增地点</p>
        <form th:action="@{/location/insert}" method="post">
            <table id="tbl_fruit">
                <tr>
                    <th class="w20">名称：</th>
                    <td><input type="text" name="description"/></td>
                </tr>
                <tr>
                    <th class="w20">分区：</th>
                    <td>
                        <select id="d6" style="width:100px" name="areaId">
                            <option th:each="area : ${areas}" th:value="${area.id}" th:text="${area.name}">全&nbsp;部</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" class="w20">
                        <input type="submit" value="添加"/>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>
</body>
</html>