<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" th:href="@{/css/index.css}">
    <script type="text/javascript" th:src="@{/js/index.js}"></script>
</head>
<body>
<div type="hidden" id="TrailList"></div>
<div>
    <table>
        <tr>
            <th>分区</th>
            <th>人数</th>
        </tr>
        <tr th:if="${#lists.isEmpty(sortCount)}">
            <th colspan="2">暂无数据</th>
        </tr>
        <tr th:unless="${#lists.isEmpty(sortCount)}" th:each="s : ${sortCount}">
            <th th:text="${s.areaId}"></th>
            <th th:text="${s.count}"></th>
        </tr>
        <tr>
            <th>用户总人数</th>
            <th th:text="${userCount}"></th>
        </tr>
    </table>

    <div>
        <a th:href="@{/trail/selectAllUserNow}">
            <button type="button">详细数据</button>
        </a>
    </div>
</div>
</body>
</html>