<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" th:href="@{/css/fence.css}">
    <script type="text/javascript" th:src="@{/js/index.js}"></script>
</head>
<body>
<div id="div_container">
    <!--导航栏-->
    <div style="font-size: 28px;color: #ffffff;background-color: #334156;height: 50px;width: 100%;
            padding-left: 10px;padding-top: 12px">
        欢迎使用校园电子围栏后台管理系统
    </div>
    <div style="width: 100%;background-color: #ffffff;height: 2px"></div>
    <div style="width: 150px;background-color: #334156;height: 100%;position: absolute;padding: 20px 0 10px 15px">
        <div style="padding: 5px 30px;border-radius: 8px;width: 48%">
            <a th:href="@{/location/select}" style="color: #ffffff;font-size: 16px;">电子围栏</a>
        </div>
        <br>
        <div style="padding: 5px 30px;border-radius: 8px;width: 48%">
            <a th:href="@{/trail/select}" style="color: #ffffff;font-size: 16px;">人员流动</a>
        </div>
        <br>
        <div style="padding: 5px 30px;border-radius: 8px;width: 48%;background-color: #5377F8">
            <a th:href="@{/user/selectAll}" style="color: #ffffff;font-size: 16px;">用户管理</a>
        </div>

    </div>
    <!--导航栏-->
    <div id="div_fruit_list">
        <div style="width:81%;margin-left:15%;text-align: right;margin-top: 10px;">
            <a th:href="@{/page/userAdd}">添加用户</a>
        </div>
        <table id="tbl_fruit">
            <tr>
                <th class="w20">用户ID</th>
                <th class="w20">账号</th>
                <th class="w20">用户姓名</th>
                <th class="w20">权限</th>
                <th class="w20">操作</th>
            </tr>
            <tr th:if="${#strings.isEmpty(users)}">
                <th colspan="5">暂无数据</th>
            </tr>
            <tr th:unless="${#strings.isEmpty(users)}" th:each="user : ${users}">
                <th><a th:text="${user.id}">1</a></th>
                <th><a th:text="${user.userId}">100000</a></th>
                <th><a th:text="${user.userName}">张三</a></th>
                <th>
                    <div th:if="${#strings.equals('0', user.status)}">
                        <a>普通用户</a>
                    </div>
                    <div th:if="${#strings.equals('1', user.status)}">
                        <a>管理员</a>
                    </div>
                </th>
                <th>
                    <div style="display: flex;justify-content: center;align-items: center">
                        <a th:href="@{/page/userEdit/}+${user.id}+'/'+${page.pageNum}" style="margin-right: 10px">
                            <button type="button" style="width: 55px">编辑</button>
                        </a>
                        <div th:if="${#strings.equals('1', users.size)}">
                            <a th:href="@{/user/delete/}+${user.id}+'/'+${page.pageSize - 1}">
                                <button type="button" style="width: 55px">删除</button>
                            </a>
                        </div>
                        <div th:unless="${#strings.equals('1',users.size)}">
                            <a th:href="@{/user/delete/}+${user.id}+'/'+${page.pageSize}">
                                <button type="button" style="width: 55px">删除</button>
                            </a>
                        </div>
                    </div>
                    <div>
                        <a th:href="@{/trail/selectPath/} + ${user.id}">
                            <button type="button">轨迹</button>
                        </a>
                    </div>
                </th>
            </tr>
        </table>
        <div style="width:82%;margin-left:15%;padding-top:4px;" class="center">
            <div style="margin-right: 5px;">
                <a th:href="@{/user/selectPage/}+${page.firstPage}">
                    <button type="button" style="width: 60px">首页</button>
                </a>
            </div>
            <div th:if="${#strings.equals('true', page.isHasPreviousPage)}">
                <a th:href="@{/user/selectPage/}+${page.pageNum - 1}">
                    <button type="button" style="width: 60px">上一页</button>
                </a>
            </div>
            <div>第<a th:text="${page.pageNum}"></a>页/</div>
            <div style="margin-right: 5px">共<a th:text="${page.pageSize}"></a>页</div>
            <div th:if="${#strings.equals('true', page.isHasNextPage)}" style="margin-right: 5px;">
                <a th:href="@{/user/selectPage/}+${page.pageNum + 1}">
                    <button type="button" style="width: 60px">下一页</button>
                </a>
            </div>
            <div>
                <a  th:href="@{/user/selectPage/}+${page.endPage}">
                    <button type="button" style="width: 60px">尾页</button>
                </a>
            </div>
        </div>
    </div>
</div>
</body>
</html>
